RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]
Options -Indexes
# Enable Error Documents
# (404,File Not Found) | (403,Forbidden) | (500,Internal Server Error)
RewriteRule ^404/?$ error/404 [NC]
ErrorDocument 404 /404
ErrorDocument 403 /404